* {
    box-sizing: border-box;
}

body {
    background: url('imgs/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-shadow: 0px 0px 5px #333;
}

#banner {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 200px 0px #fff;
}

.sub_banner {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.content {
    width: 100%;
    padding: 15px;
    margin: auto;
    flex: 1;
}

#image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px #888;
    padding: 2px;
    background-color: #fff;
}

#image:hover {
    box-shadow: 0px 0px 40px 0px rgb(135, 250, 221);
}

#face {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

#sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section {
    flex: 1;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
}

.section_img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.sub_section {
    display: flex;
    flex-direction: column;
}

.section_elem {
    flex: 1;
}

a {
    text-decoration: none;
    color: #333 !important;
}

.clickable_neon_glow_card {
    width: 20%;
    margin: 5px;
}

.clickable_neon_glow_card a:hover {
    color: #fff !important;
    text-shadow: 0px 0px 20px #fff !important;
}

#resume:hover {
    background-color: rgb(255, 94, 115);
    box-shadow: 0px 0px 100px 0px rgb(241, 141, 154);
}

#projects:hover {
    background-color: rgb(94, 255, 161);
    box-shadow: 0px 0px 100px 0px rgb(141, 241, 154);
}

#blogs:hover {
    background-color: rgb(94, 137, 255);
    box-shadow: 0px 0px 100px 0px rgb(141, 154, 241);
}

#research:hover {
    background-color: rgb(250, 232, 70);
    box-shadow: 0px 0px 100px 0px rgb(241, 239, 141);
}

#contact:hover {
    background-color: rgb(255, 158, 94);
    box-shadow: 0px 0px 100px 0px rgb(241, 181, 141);
}

#heading {
    color: #333;
}

#tagline {
    color: #333;
    margin: 15px;
}

#content {
    display: flex;
    flex-direction: column;
}