.about-section-content {
    flex: 1;
}

#stat-container {
    display: flex;
    flex-direction: column;
    flex: 2.5;
}

.stat-container-content {
    flex: 1;
}

#about-stats {
    display: flex;
    flex-direction: row;
}

.stat-instance {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#about-text-container {
    position: relative;
    padding-top: 20px;
}

#about-text-bg-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: justify;
    background: rgba(0, 0, 0, 0.05);
    filter: blur(2px);
    border-radius: 5%;
    z-index: -10;
    box-shadow: 0px 0px 10px rgba(57, 252, 155, 0.3);
}

#about-text {
    font-size: 0.86em;
    z-index: 10;
    padding: 15px;
    text-align: justify;
}

.content-img-image {
    max-width: 75%;
    position: relative;
}

.content-img-div {
    text-align: center;
}

#about-left-image-img {
    top: 10px;
    flex: 1;
}

#about-right-image-img {
    bottom: -35%;
    flex: 1;
}

.stat-instance {
    display: flex;
    flex-direction: column;
}

.stat-top-circle {
    background: rgb(188, 247, 208);
    width: 25px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    bottom: -10%;
    right: -48%;
    z-index: 0;
}

.stat-number {
    background: rgb(188, 247, 208);
    border-radius: 200px;
    width: 15%;
    height: 45%;
    padding: 20px;
    margin: auto;
    font-size: 1.5em;
    flex: 1;
    font-family: poppins, sans-serif;
    font-weight: bold;
    z-index: 1;
    color: rgb(46, 160, 84);
}

.stat-bottom-circle {
    background: rgb(188, 247, 208);
    width: 45px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: -20%;
    right: -50%;
    z-index: 0;
}

.stat-text {
    font-size: 1.2em;
    margin: 0px;
    position: relative;
    top: -20%;
    font-weight: bold;
}